<table>
    <tr>
        <th>Supplier Id</th>
        <th>Supplier Name</th>
        <th>Invoice Number</th>
        <th>Invoice Date</th>
        <th>Maturity Date</th>
        <th>Invoice Amount</th>
        <th>Tax Amount</th>
        <th>Invoice Total</th>
        <th>Payment Date</th>
        <th>Payment Amount</th>
        <th>Chq/RTGS</th>
    </tr>
    <% @documents.each do |document| %>
        <tr>
            <td><%= document&.vendor.vendor_code %></td>
            <td><%= document&.data['vendor_name'] %></td>
            <td><%= document&.data['vendor_invoice_no'] %></td>
            <td><%= document&.data['vendor_invoice_date']&.to_date&.strftime('%d-%m-%Y') %></td>
            <td><%= nil %></td>
            <td><%= (document&.data['vendor_invoice_amount']&.to_f - document&.data['vendor_invoice_tax']&.to_f) %></td>
            <td><%= document&.data['vendor_invoice_tax'].to_f %></td>
            <td><%= document&.data['vendor_invoice_amount'].to_f %></td>
            <td><%= document&.data['payment_instr_date']&.to_date&.strftime('%d-%m-%Y') %></td>
            <td><%= document.data['payment_instr_amount'].to_f %></td>
            <td><%= document.data['payment_instr_amount'].present? ? "online" : "offline" %></td>
        </tr>
    <% end %>
</table>