<%= turbo_frame_tag dom_id(client), class: "col-lg-6" do %>
    <div class="card shadow mb-4">
        <a href="#collapse_<%= client.id %>" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapse_<%= client.id %>">
            <h6 class="m-0 font-weight-bold text-primary"><%= client.name %> (<%= client.company_name %>)</h6>
        </a>
        <div class="collapse show" id="collapse_<%= client.id %>">
            <div class="card-body">
                <div class="display_flex icon_settings">
                    <div>
                        <strong>UserName: </strong> <%= client.username %>
                        <strong>Password: </strong> <%= client.password %>
                        <% if client.token.present? %>
                            <p><strong>Token: </strong> <%= client.token %></p>
                        <% end %>
                    </div>
                    <%= render partial: "buttons", locals: { client: client} %>
                </div>
            
                <% if client.login_api.present? %>
                    
                    <h5>Login API</h5>
                    <%= render partial: "apis/api", locals: { client: client, api: client.login_api } %>
                    
                <% end %>
                <% if client.apis.present? %>
                    
                    <h5>Data Fetch API</h5>
                    <% client.apis.each_with_index do |api, index| %>
                        <%= render partial: "apis/api", locals: { client: client, api: api } %>
                    <% end %>
                    
                <% end %>
            </div>
        </div>
    </div>
<% end %>