<%= form_with model: @client do |form| %>
  <div class="field">
    <%= form.label :name %>
    <br />
    <%= form.text_field :name ,:required => true,class: "form-control-xs" %>
  </div>
  <br />
  <div class="field">
    <%= form.label :company_name %>
    <br />
    <%= form.text_field :company_name ,class: "form-control-xs" %>
  </div>
  <br />
  <div class="field">
    <%= form.label :username %>
    <br />
    <%= form.text_field :username,:required => true ,class: "form-control-xs" %>
  </div>
  <br />
  <div class="field">
    <%= form.label :password %>
    <br />
    <%= form.text_field :password,:required => true ,class: "form-control-xs"%>
  </div>
  <label><strong>Login API Data</strong></label>
  <%= form.fields_for :login_api do |ff| %>
  <div>
    <%= ff.label :api_method %>
    <br />
    <%= ff.collection_select :api_method, Api.api_methods, :first, :first, include_blank: true %>
  </div>
  <br />
  <div>
    <%= ff.label :api_url %>
    <br />
    <%= ff.text_field :api_url %>
  </div>
  <% end %>
  <br />
  <div class="actions">
    <%= form.submit class:'btn btn-info' %>
  </div>
  <br />
<% end %>