<p>
  <strong>Client Code:</strong>
  <%= @client.client_code %>
</p>

<p>
  <strong>Password:</strong>
  <%= @client.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>API URL:</strong>
  <%= @client.api_url %>
</p>

<p>
  <strong>API method:</strong>
  <%= @client.api_method %>
</p>

<p>
  <strong>Token:</strong>
  <%= @client.token %>
</p>
<%= link_to "Back" , clients_path , class: "btn btn-info" %>