<p>
  <strong>Client Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @client.company_name %>
</p>

<p>
  <strong>UserName:</strong>
  <%= @client.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @client.password %>
</p>

<p>
  <strong>Token:</strong>
  <%= @client.token %>
</p>

<%= link_to "Back" , clients_path , class: "btn btn-info" %>