<%= turbo_stream_from "document_groups" %>
<%= turbo_stream_from "documents" %>

<div class="row align-items-center">
  <div class="col-md-10">
    <%= render 'filter_form' %>
  </div>
  <%= render partial: "buttons", locals: { vendor: @vendor} %>
</div>

<%= turbo_frame_tag "document_groups" do %>
  <%= render @document_groups.order("downloaded, date(title) DESC") %>
<% end %>
