<%= turbo_frame_tag dom_id(invoice_group) do %>
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapse_<%= invoice_group.id %>" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapse_<%= invoice_group.id %>">
            <h6 class="m-0 font-weight-bold text-primary"><%= invoice_group.title %></h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapse_<%= invoice_group.id %>">
            <div class="card-body">
                <%= link_to '', invoice_group_path(id: invoice_group.id, format: :csv), class: "fa fa-download float-right"%>
                <%= link_to '', invoice_group_path(invoice_group),method: :delete,data: { confirm: 'Are you sure?' } ,class: "fa fa-trash float-right"%>

                <%= turbo_frame_tag "invoices" do %>
                <div class="row">
                    <%= render invoice_group.invoices %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
