<table>
    <tr>
        <th>Supplier Id</th>
        <th>Supplier Name</th>
        <th>Invoice Number</th>
        <th>Invoice Date</th>
        <th>Maturity Date</th>
        <th>Invoice Amount</th>
        <th>Tax Amount</th>
        <th>Invoice Total</th>
    </tr>
    <% @invoices.each do |invoice| %>
        <tr>
            <td><%= invoice.vendor.vendor_code %></td>
            <td><%= invoice.data['vendor_name'] %></td>
            <td><%= invoice.data['vendor_invoice_no'] %></td>
            <td><%= invoice.data['vendor_invoice_date'].to_date.strftime('%d-%m-%Y') %></td>
            <td><%= nil %></td>
            <td><%= invoice.data['vendor_invoice_amount'].to_f %></td>
            <td><%= invoice.data['vendor_invoice_tax'].to_f %></td>
            <td><%= (invoice.data['vendor_invoice_amount'].to_f + invoice.data['vendor_invoice_tax'].to_f) %></td>
        </tr>
    <% end %>
</table>