<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Cashnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" <%= asset_pack_path "media/images/favicons/apple-touch-icon.png" %>>
    <link rel="icon" type="image/png" sizes="32x32" <%= asset_pack_path "media/images/favicons/favicon-32x32.png" %>>
    <link rel="icon" type="image/png" sizes="16x16" <%= asset_pack_path "media/images/favicons/favicon-16x16.png" %>>
    <link rel="shortcut icon" type="image/x-icon" <%= asset_pack_path "media/images/favicons/favicon.ico" %>>
    <link rel="manifest" <%= asset_pack_path "media/images/favicons/manifest.json" %>>

    <meta name="msapplication-TileImage" content="<%= asset_pack_path "media/images/favicons/mstile-150x150.png" %>">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <!--
    <script src="assets/js/config.navbar-vertical.js"></script>
    <link href="assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/lib/datatables-bs4/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css" rel="stylesheet">
    <link href="assets/lib/leaflet/leaflet.css" rel="stylesheet">
    <link href="assets/lib/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="assets/lib/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

</head>