<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body id="page-top">
    <% if current_user.present? %>
      <div id="wrapper">
        <%= render 'layouts/sidebar' %>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%= render 'layouts/navbar' %>
            <%= render 'layouts/flash_messages' %>
            <div class="container-fluid">
              <%= yield %>
            </div>
            <%#= toastr_flash %>
          </div>
          <%= render 'layouts/footer' %>
        </div>
      </div>
    <% else %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <%#= toastr_flash %>
    <% end %>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
  </body>
</html>
